.cab3{

text-align: center;
background-color: aqua;
justify-content: baseline;
background-image: linear-gradient(rgb(5, 235, 235), rgb(35, 23, 207));

}


.imgtitulo3{

 width: 55%;

}

.imgtit{

    width: 50%;
    
    }
    
    .b2{
    background-color: aqua;
    text-align: center;
    background-image: linear-gradient(rgb(0, 162, 255), rgb(0, 68, 255));
    
    }
    
    .imgtit2{
    
    width: 50%;
    
    
    }
    
    .imgtit3{
    
    width: 60%;
    
    
    }
    
    .imgtit4{
    
    
    width: 40%;
    
    }
    
    .imgtit5{
    
    width: 50%;
    
    }
    
    