.cab2{

text-align: center;
background-color: rgb(243, 17, 55);
justify-content: baseline;
background-image: linear-gradient(rgb(236, 9, 47), rgb(235, 56, 151));
}

.imgtitulo2{

  width: 35%;
    
}

.imgtit{

width: 50%;

}

.b2{

background-color: rgb(223, 61, 88);
background-image: linear-gradient (rgb(236, 9, 47), rgb(235, 56, 151));
text-align: center;

}

.imgtit2{

width: 50%;


}

.imgtit3{

width: 60%;


}

.imgtit4{


width: 40%;

}

.imgtit5{

width: 50%;

}

