.cab4{

    text-align: center;
    background-color: yellowgreen;
    justify-content: baseline;
   background-image: linear-gradient(rgb(156, 228, 14), rgb(77, 177, 10));

}

.imgtit{

    width: 50%;
    
    }
    
    .b2{
    background-color: yellowgreen;
    text-align: center;
    background-image: linear-gradient(rgb(156, 228, 14), rgb(77, 177, 10));
    
    }
    
    .imgtit2{
    
    width: 50%;
    
    
    }
    
    .imgtit3{
    
    width: 60%;
    
    
    }
    
    .imgtit4{
    
    
    width: 40%;
    
    }
    
    .imgtit5{
    
    width: 50%;
    
    }